.list {
    background-color: white;
    max-width: 7000px;
    padding-top: 5px;
    margin: 5px 50px;
}

.div__list {
    background-color: white;
    margin: 10px 50px ;
    margin-bottom: 2px;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    padding: 7px;
   
}


  